USE [master]
GO
/****** Object:  Database [demo_var1]    Script Date: 18.05.2026 16:25:04 ******/
CREATE DATABASE [demo_var1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demo_var1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VIKA\MSSQL\DATA\demo_var1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demo_var1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.VIKA\MSSQL\DATA\demo_var1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo_var1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo_var1]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[IdManufacturer] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[IdManufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[OrderedOn] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[PosId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[ReceptionCode] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[IdOrderProduct] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[IdOrderProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[IdOrderStatus] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[IdOrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pos]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pos](
	[IdPos] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Pos] PRIMARY KEY CLUSTERED 
(
	[IdPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[IdProduct] [int] IDENTITY(1,1) NOT NULL,
	[Sku] [nvarchar](50) NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[UnitOfMeasurmentId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[MaxDiscount] [float] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[RealDiscount] [float] NOT NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[IdProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductName]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductName](
	[IdProductName] [int] IDENTITY(1,1) NOT NULL,
	[ProductNameName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductName] PRIMARY KEY CLUSTERED 
(
	[IdProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[IdSupplier] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[IdSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasurment]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasurment](
	[IdUnitOfMeasurment] [int] IDENTITY(1,1) NOT NULL,
	[UnitOfMeasurmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasurment] PRIMARY KEY CLUSTERED 
(
	[IdUnitOfMeasurment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.05.2026 16:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (1, N'Школьные принадлежности')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (2, N'Для офиса')
INSERT [dbo].[Category] ([IdCategory], [CategoryName]) VALUES (3, N'Бумага офисная')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (1, N'Pilot')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (2, N'Attache')
INSERT [dbo].[Manufacturer] ([IdManufacturer], [ManufacturerName]) VALUES (3, N'Unimax')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [OrderedOn], [DeliveryDate], [PosId], [ClientId], [ReceptionCode], [OrderStatusId]) VALUES (1, CAST(N'2022-05-18' AS Date), CAST(N'2022-05-24' AS Date), 3, 7, 311, 1)
INSERT [dbo].[Order] ([IdOrder], [OrderedOn], [DeliveryDate], [PosId], [ClientId], [ReceptionCode], [OrderStatusId]) VALUES (2, CAST(N'2022-05-19' AS Date), CAST(N'2022-05-25' AS Date), 4, 8, 312, 2)
INSERT [dbo].[Order] ([IdOrder], [OrderedOn], [DeliveryDate], [PosId], [ClientId], [ReceptionCode], [OrderStatusId]) VALUES (3, CAST(N'2022-05-20' AS Date), CAST(N'2022-05-26' AS Date), 5, 5, 313, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (1, 1, 1, 10)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (2, 1, 6, 2)
INSERT [dbo].[OrderProduct] ([IdOrderProduct], [OrderId], [ProductId], [Amount]) VALUES (3, 2, 2, 10)
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([IdOrderStatus], [OrderStatusName]) VALUES (1, N'Новый ')
INSERT [dbo].[OrderStatus] ([IdOrderStatus], [OrderStatusName]) VALUES (2, N'Завершен')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Pos] ON 

INSERT [dbo].[Pos] ([IdPos], [Address]) VALUES (1, N'344288, г. Тихорецк, ул. Чехова, 1')
INSERT [dbo].[Pos] ([IdPos], [Address]) VALUES (2, N'614164, г.Тихорецк,  ул. Степная, 30')
INSERT [dbo].[Pos] ([IdPos], [Address]) VALUES (3, N'394242, г. Тихорецк, ул. Коммунистическая, 43')
SET IDENTITY_INSERT [dbo].[Pos] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([IdProduct], [Sku], [ProductNameId], [UnitOfMeasurmentId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [RealDiscount], [Stock], [Description], [Photo]) VALUES (1, N'А112Т4', 1, 1, 12, 30, 1, 1, 1, 2, 6, N'Ручка шариковая с синими чернилами,толщина стержня 7 мм', N'А112Т4.jpg')
INSERT [dbo].[Product] ([IdProduct], [Sku], [ProductNameId], [UnitOfMeasurmentId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [RealDiscount], [Stock], [Description], [Photo]) VALUES (2, N'A346R4', 2, 1, 35, 20, 2, 1, 1, 3, 23, N'Ручка шариковая автоматическая с синими чернилами, диаметр шарика 0,9 мм', N'A346R4.jpg')
INSERT [dbo].[Product] ([IdProduct], [Sku], [ProductNameId], [UnitOfMeasurmentId], [Price], [MaxDiscount], [ManufacturerId], [SupplierId], [CategoryId], [RealDiscount], [Stock], [Description], [Photo]) VALUES (3, N'T564P5', 3, 2, 50, 15, 2, 1, 1, 9, 3, N'Набор шариковых ручек одноразовых Attache Economy Spinner 10 цветов (толщина линии 0.5 мм)', N'T564P5.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductName] ON 

INSERT [dbo].[ProductName] ([IdProductName], [ProductNameName]) VALUES (1, N'Ручка шариковая')
INSERT [dbo].[ProductName] ([IdProductName], [ProductNameName]) VALUES (2, N'Ручка шариковая автоматическая')
INSERT [dbo].[ProductName] ([IdProductName], [ProductNameName]) VALUES (3, N'Набор шариковых ручек одноразовых')
SET IDENTITY_INSERT [dbo].[ProductName] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([IdRole], [RoleName]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([IdSupplier], [SupplierName]) VALUES (1, N'Комус')
INSERT [dbo].[Supplier] ([IdSupplier], [SupplierName]) VALUES (2, N'Буквоед')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasurment] ON 

INSERT [dbo].[UnitOfMeasurment] ([IdUnitOfMeasurment], [UnitOfMeasurmentName]) VALUES (1, N'шт.')
INSERT [dbo].[UnitOfMeasurment] ([IdUnitOfMeasurment], [UnitOfMeasurmentName]) VALUES (2, N'уп.')
SET IDENTITY_INSERT [dbo].[UnitOfMeasurment] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([IdUser], [RoleId], [FullName], [Login], [Password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Code]    Script Date: 18.05.2026 16:25:04 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Code] ON [dbo].[Order]
(
	[ReceptionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatus] ([IdOrderStatus])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Pos] FOREIGN KEY([PosId])
REFERENCES [dbo].[Pos] ([IdPos])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Pos]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([IdOrder])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([IdProduct])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([IdManufacturer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductName] FOREIGN KEY([ProductNameId])
REFERENCES [dbo].[ProductName] ([IdProductName])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductName]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([IdSupplier])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_UnitOfMeasurment] FOREIGN KEY([UnitOfMeasurmentId])
REFERENCES [dbo].[UnitOfMeasurment] ([IdUnitOfMeasurment])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_UnitOfMeasurment]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
